:root {
    --bg-color: #ffffff;
    --border-color: #00161666;
    --header-color: #000000;
    --navbar-color: #4d4e53;  
    --code-color: #f7f7f7;
}

[data-theme="dark"] {
    --bg-color: #1f1b24;
    --border-color: #00161666;
    --header-color: #818cab;
    --navbar-color: #e1e1ff;  
    --code-color: #161625;
}

html,
body {
    min-width: 290px;
    color: var(--navbar-color);
    background-color: var(--bg-color);
    font-family: 'Open sans', Arial, sans-serif;
    line-height: 1.5;
}

#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 320px;
    height: 100%;
    border: solid;
    border-radius: 15px;
    border-color: var(--border-color);
}

header {
    color: var(--header-color);
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
    font-weight: thin;
}

#main-doc header {
    text-align: left;
    margin: 0px;
}

#navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar li {
    border-radius: 15px;
    border: 2px solid var(--navbar-color);
    list-style: none;
    position: relative;
    width: 98%;
}

#navbar a {
    display: block;
    padding: 10px 30px;
    color: var(--navbar-color);
    text-decoration: none;
    cursor: pointer;
}

#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}

section article {
    color: var(--navbar-color);
    margin: 15px;
    font-size: 0.96em;
}
section li {
    margin: 15px 0px 0px 20px;
}

code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: var(--code-color);
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

@media only screen and (max-width: 815px) {
    /* For mobile phone*/
    #navbar ul {
        border: 1px solid;
        height: 207px;
    }

    #navbar {
        background-color: var(--bg-color);
        position: absolute;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 275px;
        border: none;
        z-index: 1;
        border-bottom: 2px solid;
    }

    #main-doc {
        position: relative;
        margin-left: 0px;
        margin-top: 270px;
    }

    .theme-switch-wrapper {
        display: block;
        z-index: 90;
    }
}

@media only screen and (max-width: 400px) {
    #main-doc {
        margin-left: -10px;
    }

    code {
        margin-left: -20px;
        width: 100%;
        padding: 15px;
        padding-left: 10px;
        padding-right: 45px;
        min-width: 233px;
    }
}

/*slider switch css */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    padding: 1rem 0 1.5rem 0;
    z-index: 90;
  }

  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
  
  input:checked + .slider {
    background-color: #66bb6a;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
